/* App.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

h1{
  color: white;
}

p {
  color:white;
  
}
.background {
  background: url('https://www.gamespot.com/a/uploads/original/1596/15969599/3649787-witchbrook1.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exps {
  color: white;
}
.form-container {
  background-color: rgba(41, 41, 41, 0.908);
  padding: 30px;
  border-radius: 20px;
   box-shadow:
    0 0 10px rgba(255, 119, 0, 0.5),   
    0 0 20px #ff880066,   
    0 0 30px rgba(255, 149, 0, 0.3);  
  min-width: 300px;
  
}

.button-group {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 15px;
  border: 10px;
  border-radius: 10px;
  cursor: pointer;
}

button[type="submit"] {
  margin-top: 8px;
  background-color: #4fa81b;
  color: white;
}

button[type="button"] {
  margin-top: 8px;
  background-color: #9d2921;
  color: white;
}

.message-box {
  margin-top: 20px;
  padding: 10px;
  background-color: #e0e0e0;
  border-left: 5px solid #1b7dd9fc;
  border-radius: 10px;
  font-weight: bold;
}


